<script src="https://kit.fontawesome.com/e2a4bb1024.js" crossorigin="anonymous"></script>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

  :root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
  }

  .main {
    margin-left: 2rem;
    display: grid;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: row;
    height: 30rem;
  }

  footer {
    float: right;
    color: gray;
  }

  .comment{
height: 4rem;
background-color: cyan;
  }
  .titre {
    border-top: solid 1px black;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
    font-family: 'Fira Sans', sans-serif;
    background-color: gainsboro;
  }

  .cards {
    width: 100%;
  }

  .titre i {
    font-size: 3rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: gainsboro;
  }

  ul li {

    font-family: 'Merriweather', serif;
    margin: 10px 0;
    background-color: blanchedalmond;
  }

  a {
    text-decoration: none;
    line-height: 2%;
  }
</style>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
<script>
function addcomment(){
let article=$("#current_article").val();
let comment=$("#myComment").val();
let auteur=$("#auteur").val()
$.ajax({
  url:"/comments/add",
  type:"POST",
  data:{article: article,auteur: auteur,comment: comment},
  success:()=>{
    $(".msg").show(100, "swing");
  $(".msg").html(
    '<button type="button"  class="success">Le commentaire a bien &eacute;t&eacute; ajout&eacute;</button>'
  );
  $(".msg").delay(2250).hide(50, "swing");

 $("#auteur").val("");
$("#myComment").val("");
  }
})
}

</script>
</body>

</html>
