<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TypeScript CMS</title>
</head>

<body>

  <div class="content">
    <ul id="navigation">
      <li class="active"> <i class="fas fa-home"></i> <a href="/">Home</a></li>
      <li><i class="fas fa-address-book"></i> <a href="/contact">Contact</a></li>
      <li> <i class="far fa-newspaper"></i> <a href="/articles">Articles</a></li>

      <li><i class="fas fa-plus-circle"></i> <a href="/articles/ajouter">Ajouter article</a></li>
    </ul>

    <div class="main">
      <h1>Bienvenue : <%= user %> </h1>


      <p>Vous êtes sur <%= page %></p>




